<!-- Thanks to: 
https://simpleisbetterthancomplex.com/tutorial/2016/08/03/
how-to-paginate-with-django.html -->
<head>
<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
td {  white-space:pre }
</style>
<body>
<div class="pagination">
{% if games.number|add:'-4' > 1 %}
    <a href="?page=1">1</a>
{% endif %}
{% if games.number|add:'-4' > 1 %}
    <a href="?page={{ games.number|add:'-5' }}">&hellip;</a>
{% endif %}
{% for i in games.paginator.page_range %}
    {% if games.number == i %}
        <a href="?page={{i}}">{{ i }}</a>
    {% elif i > games.number|add:'-5' and i < games.number|add:'5' %}
        <a href="?page={{i}}">{{ i }}</a>
    {% endif %}
{% endfor %}
{% if games.paginator.num_pages > games.number|add:'4' %}
    <a href="?page={{ games.number|add:'5' }}">&hellip;</a>
{% endif %}
{% if games.paginator.num_pages > games.number|add:'4' %}
    <a href="?page={{games.paginator.num_pages}}">{{games.paginator.num_pages}};</a>
{% endif %}
</div>

{% load static %}

{% if games %}
<table>
    {% for game in games %}
    <tr>
      <!--
      <td><img src={% static "0000001.svg" %}></td>
      -->
      {% autoescape off %}
      <td><a href="/chess_db/{{ game.id }}/">
{{game.final_image}}</a></td>
      {% endautoescape %}
      <td>{{ game.abreviated_pgn }}</td>
      <td>{{game.header}}
    </tr>
      {% endfor %}
</table>
{% else %}
    <p>No games are available.</p>
{% endif %}
</body>
</html>
