<head>
<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
td {  white-space:pre }
</style>
  <body>
    {% load static %}
<div class="pagination">
<table>
<tr>
  <th><h1>
<a href="/chess_db"> Return to index </a></h1></th>
  <th>    </th>
<th><h1><a href="/chess_db/{{game.id}}/-1/" class="previous"> << </a></h1></th>
  <th>    </th>
<th><h1><a href="/chess_db/{{game.id}}/{{prev_ply}}/" class="previous round"> <</a></h1></th>
  <th>    </th>
<th><h1><a href="/chess_db/{{game.id}}/{{next_ply}}/" class="next round"> > </a></h1></th>
  <th>    </th>
<th><h1><a href="/chess_db/{{game.id}}/{{game.max_ply}}/" class="next"> >> </a></h1></th>
</tr>
</table>
</div>
<div>
  {{move}}
</div>

<div>
  <a href="http://lichess.org/paste">
  {% autoescape off %}
  {{svg}}
  {% endautoescape %}
  </a>
</div>
<div>
</div>
<div>
  <textarea name="pgn_area" rows="20" cols="65" id="pgn">
{{ game.pgn }}
  </textarea>
</div>
<div>
<!-- The button used to copy the text -->
<button onclick="myFunction()">Copy text</button>  
</div>
<script>
function myFunction() {
  // Get the text field
  var copyText = document.getElementById("pgn");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
  
  // Alert the copied text
  //alert("Copied the text: " + copyText.value);
}
</script>
</body>
</html>
